{% extends "bootstrap/base.html" %}
{% block title %}メモアプリ-アカウント作成{% endblock %}

{% block content %}

<div class="container">
    <h1>アカウント作成</h1>
    <form method="POST">
        <label for="" class="form-label">ユーザー名</label>
        <input type="text" name="username" class="form-control">
        <label for="" class="form-label">パスワード</label>
        <input type="password" name="password" class="form-control">
        <input type="submit" value="新規登録" class="btn btn-primary">
    </form>
    <a href="/auth/login" role="button">既存のアカウントでログイン</a>
</div>
{% endblock %}